* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
body {
    background: linear-gradient(217deg, rgba(255,0,0,.7), rgba(255,0,0,0) 70%),
                linear-gradient(127deg, rgba(55,200,200,.8), rgba(55,200,200,0) 70%),
                linear-gradient(336deg, rgba(0,0,255,.9), rgba(0,0,255,0) 70%);
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
h1 {
text-align: center;
padding: 7px;
}
p{
    padding: 5px;
}
input{
    padding: 4px;
    margin-left: 100px;
    margin-top: 7px;
    color: rgb(42, 104, 165);
}
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}
button{
    margin: 10px;
    margin-right: 130px;
    width: 100px;
    height: 22px;
    color: rgb(43, 104, 226);
    font-size: 17px;
    position: relative;
    float: right;
    cursor: pointer;
}